<%= form_for @person do |f| %>
 
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> prohibited
        this person from being saved:
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class = "field"><p>
    <%= f.label :first_name, 'First Name' %><br>
    <%= f.text_field :first_name %>
  </p></div>
 
  <div class = "field"><p>
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :last_name %>
  </p></div>
   <div class = "field"> <p>
    <%= f.label :net_id, 'NetID' %><br>
    <%= f.text_field :net_id %>
  </p></div>
  <div class = "field"><p>
    <%= f.label :banner_id, 'Banner ID (UNM ID #)' %><br>
    <%= f.text_field :banner_id %>
  </p></div>
  <div class = "field"><p>
    <%= f.label :college_id, 'College' %><br>
    <%= f.collection_select :college_id, College.order(:name), :id, :name, {:prompt => "Select a College"}, include_blank: true %>
  </p></div>
  <div class = "field"><p>
    <%= f.label :department_id, 'Department' %><br>
    <%= f.grouped_collection_select :department_id, College.order(:name), :departments, :name, :id, :name, include_blank: true %>
  </p></div>
  <div class = "field"><p>
    <%= f.label :position %><br>
    <%= collection_radio_buttons(:person, :position, Person.positions, :first, :first) do |b| 
            b.label(:"data-value" => b.value) {b.radio_button+b.text.titleize}
        end %> 
  </p></div>
   
  <div class = "actions"><p>
    <%= f.submit class: 'btn btn-primary' %>
  </p></div>
<% end %>

