$('.department_selection').empty();
$('.department_selection').append( $('<option>Select the Department</option>'));
<% @departments.each do |department| %>
   $('.department_select').append($('<option value="<%= department.id %>"><%= department.name %></option>'));
<% end %>

