<h1>Registered People</h1>

<table>
    <tr>
        <th style="padding-right:13px">Last Name</th>
        <th style="padding-right:10px">First Name</th>
        <th style="padding-right:10px">NetID</th>
        <th style="padding-right:9px">Banner ID#</th>
        <th style="padding-right:11px">Position</th>
        <th style="padding-right:50px">College/School</th>
        <th>Department</th>
        <th colspan="2"></th>
    </tr>

    <%= search_form_for @q do |f| %>


      <%= f.label :name %>
      <%= f.search_field :first_name_or_last_name_cont %>
      <%= f.submit %>
    <% end %>


    <% @people.order(:last_name, :first_name) %>
    <% @people.each do |person| %>
        <tr>
            <td><%= person.last_name %></td>
            <td><%= person.first_name %></td>
            <td><%= person.net_id %></td>
            <td><%= person.banner_id %></td>
            <td><%= person.position.titleize %></td>
            <td><%= College.find(person.college_id).name %></td>
            <td><%= person.department.name %></td>

            <td style="padding-left:8px"><%= link_to 'Show', person_path(person), class: "btn btn-outline-primary" %></td>
            <td><%= link_to 'Edit', edit_person_path(person), class: "btn btn-outline-warning" %></td>
            <td><%= link_to 'Delete', person_path(person), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'New Person', new_person_path, class: "btn btn-outline-primary" %>
