<div id="department">
  <div class="heading">
    <h1><%= @department.college.name %></h1>
    <h3><%= @department.name %></h3>
  </div>
  <hr/>
  <h5>Administrators</h5>
  <% if @department.name == "Deans Office" %>
      <p>These people may edit faculty information within the <%= @department.college.name %></p>
  <% else %>
      <p>These people may edit faculty information within the department</p>
  <% end %>

  <div id="admins">
    <table id="admins-table" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Net ID</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
        <tr v-for="(admin,index) in admins">
          <td>{{admin.last_name + ', ' + admin.first_name}}</td>
          <td>{{admin.net_id}}</td>
          <td v-on:click="prepareRevokeAdmin(admin, index)" class="clickable"><i class="fa fa-ban"></i>&nbsp;Revoke Admin</td>
        </tr>
        <tr>
          <td colspan="3" @click="prepareAddAdmin()" class="clickable heading"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add new...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5>Faculty</h5>
  <p>These people can create new evaluation submissions</p>
  <div id="people">
    <table id="people-table" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Net ID</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="(person,index) in people">
        <td>{{index+1}}</td>
        <td>{{person.last_name + ', ' + person.first_name}}</td>
        <td>{{person.net_id}}</td>
        <td v-on:click="prepareEditUser(person)" class="clickable"><i class="fa fa-pencil-square"></i>&nbsp;Edit Person</td>
        <td v-on:click="prepareRemoveUser(person, index)" class="clickable"><i class="fa fa-trash-o"></i>&nbsp;Remove Person</td>
        
      </tr>
      <tr>
        <td colspan="4" @click="prepareAddUser()" class="clickable heading"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add new...</td>
      </tr>
      </tbody>
    </table>
  </div>
  <modal :show="showAddAdminModal" @close="showAddAdminModal=false" size="medium">
    <div class="add-admin-form">
      <label for="add-admin">User search:</label>
      <input v-model="query" id="last-name" type="text" class="form-control" placeholder="Last Name" />
      <button type="submit" class="btn btn-primary" @click="userSearch()">Search</button><span class="alert" style="display:none;margin-left:1em;" id="alert"></span>
      <hr style="padding-bottom:2em"/>
      <div v-for="(result,index) in searchResults">
        <table id="search-results" class="table table-striped">
          <tr v-for="(person,index) in searchResults">
            <td>{{person.last_name + ', ' + person.first_name}}</td>
            <td v-if="!person.department_admin" class="clickable" @click="makePersonDepartmentAdmin(person)"><i class='fa fa-lock' aria-hidden='true'></i>&nbsp;Make Admin</td>
            <td v-if="person.department_admin"><i>already admin</i></td>
          </tr>
        </table>
      </div>
    </div>
  </modal>
  <modal :show="showEditUserModal" @close="showEditUserModal=false" size="large">
      <div class="edit-user-form">
      <label for="first-name">First Name</label>
      <input v-model="personObject.first_name" id="first-name" type="text" class="form-control" placeholder="First Name" />
      <label for="last-name">Last Name</label>
      <input v-model="personObject.last_name" id="last-name" type="text" class="form-control" placeholder="Last Name" />
      <label for="net-id">UNM Net ID</label>
      <input v-model="personObject.net_id" id="net-id" type="text" class="form-control" placeholder="NetID" />
      <label for="banner-id">UNM Banner ID (9 digits)</label>
      <input v-model="personObject.banner_id" id="banner-id" type="text" class="form-control" placeholder="Banner ID" />
      <button @click="editUser()" class="btn btn-primary">Update</button>
    </div>
  </modal>
  <modal :show="showAddUserModal" @close="showAddUserModal=false" size="large">
    <div class="add-user-form">
      <label for="first-name">First Name</label>
      <input v-model="newUser.first_name" id="first-name" type="text" class="form-control" placeholder="First Name" />
      <label for="last-name">Last Name</label>
      <input v-model="newUser.last_name" id="last-name" type="text" class="form-control" placeholder="Last Name" />
      <label for="net-id">UNM Net ID</label>
      <input v-model="newUser.net_id" id="net-id" type="text" class="form-control" placeholder="NetID" />
      <label for="banner-id">UNM Banner ID (9 digits)</label>
      <input v-model="newUser.banner_id" id="banner-id" type="text" class="form-control" placeholder="Banner ID" />
      <button @click="addUser()" class="btn btn-primary">Add</button>
    </div>
  </modal>
  <modal :show="showRevokeAdminPersonModal" @close="showRevokeAdminPersonModal=false" size="small">
    <div class="revoke-user-confirm">
      <div class="modal-header">
         <h3>Revoke Admin Rights</h3>
      </div>
      <div class="modal-body">
        <p> Remove administrative rights for {{personObject.last_name + ', ' + personObject.first_name}}? (This will only apply for <%= @department.name.titleize %>)</p>
      </div> 
      <button @click="revokePersonDepartmentAdmin()" class="btn btn-warning">Revoke Admin</button>
      <button @click="showRevokeAdminPersonModal=false" class="btn btn-info">Cancel</button>
      <div class="admin_alert" style="display:none;margin-left:1em;background-color:#f44336;color:white" id="admin_alert"></div>
    </div>
  </modal>
  <modal :show="showRemovePersonModal" @close="showRemovePersonModal=false" size="small">
    <div class="remove-user-confirm">
      <div class="modal-header">
        <h3>Remove Person</h3>
      </div>
      <div class="modal-body">
        <p>Remove <b>{{personObject.last_name + ', ' + personObject.first_name}}</b>?</p>
        <h4 style="color:red;">Warning: This will remove all associated annual evaluations and cannot be undone!</h4>
      </div>
      <button @click="removePerson()" class="btn btn-danger">Remove Person</button>
      <button @click="showRemovePersonModal=false" class="btn btn-info">Cancel</button>
      <div class="admin_alert" style="display:none;margin-left:1em;background-color:#f44336;color:white" id="admin_alert"></div>
    </div>
  </modal>
</div>
<style>
</style>
<script>
  // Load Modal Component
  <%= render 'components/modal.js' %>

  app = new Vue({
    el: '#department',
    
    data: {
      admins: <%= (Person.with_role(:department_admin, @department)+Person.with_role(:department_admin, @college)).to_json.html_safe %>,
      people: <%= Person.with_role(:user, @department).to_json.html_safe %>,
      searchResults: [],
      query: "",
      showAddAdminModal: false,
      showAddUserModal: false,
      showEditUserModal: false,
      showRevokeAdminPersonModal: false,
      showRemovePersonModal: false,
      newUser: {
        first_name: null,
        last_name: null,
        banner_id: null,
        net_id: null,
        department_id: null,
        college_id: null
      },
      personObject: {
        first_name: "none",
        last_name: "none",
        banner_id: null,
        net_id: null,
        department_id: null,
        college_id: null
      },
      indexNum: null
    },
    methods: {
      prepareAddAdmin: function() {
        this.query = ""
        this.searchResults = null
        this.showAddAdminModal = true
      },
      userSearch: function() {
        this.searchResults = null
        if (this.query.length >= 2) {
          $.post('/usersearch', {query: this.query, department_id: <%= @department.id %>}).done(function (resp) {
            if (!$.isEmptyObject(resp)) app.searchResults = resp
            else {
              $('#alert').html('No results!').fadeIn(300)
              setTimeout(function () {
                $('#alert').fadeOut(300)
              }, 3000)
            }
          })
        }
        else {
          $('#alert').html('Query too short').fadeIn(300)
          setTimeout(function () {
            $('#alert').fadeOut(300)
          }, 3000)
        }
      },
      prepareRevokeAdmin: function(adminIn, removeIndexIn) {
        app.personObject = adminIn
        app.indexNum = removeIndexIn
        this.showRevokeAdminPersonModal = true
      },
      prepareEditUser: function(personIn) {
        app.personObject = personIn
        this.showEditUserModal = true
      },
      prepareAddUser: function() {
        this.showAddUserModal = true
      },
      prepareRemoveUser: function(personIn, removeIndexIn) {
        app.personObject = personIn
        app.indexNum = removeIndexIn
        this.showRemovePersonModal = true
      },
      makePersonDepartmentAdmin: function (person) {
        $.post('/makeadmin',{
          person_id: person.id,
          department_id: <%= @department.id %>
        }).done(function(resp){
          if (resp.success)
          {
            app.admins.push(resp.person)
            app.searchResults = null
            app.query = ""
            app.showAddAdminModal = false
          }
        })
      },
      revokePersonDepartmentAdmin: function () {
        $.post('/revokeadmin',{
          person_id: app.personObject.id,
          department_id: <%= @department.id %>
        }).done(function(resp){
          if (resp.success)
          {
            app.admins.splice(app.indexNum, 1);
            app.personObject.first_name = "none"
            app.personObject.last_name = "none"
            app.personObject.banner_id = null
            app.personObject.net_id = null
            
            app.showRevokeAdminPersonModal = false
          }
          else
          {
            $('#admin_alert').html('Error removing admin rights. Ensure you have proper permission to perform this action.').fadeIn(300)
            setTimeout(function () {
              $('#admin_alert').fadeOut(300)
            }, 3000)
          }
        })
      },
      removePerson: function () {
        var url = "/people/" + app.personObject.id;
        $.ajax({
           url: url,
           type: 'DELETE',
           data: { "_token": "{{ csrf_token() }}" },
           success: function(resp) {
             console.log(resp)
             app.people.splice(app.indexNum, 1);
             app.showRemovePersonModal = false
           },
           error: function() {
           $('#admin_alert').html('Error removing user. Ensure you have proper permission to perform this action.').fadeIn(300)
            setTimeout(function () {
              $('#admin_alert').fadeOut(300)
            }, 3000)
           }
        })
      },
      editUser: function() {
        var url = "/people/" + app.personObject.id;
        $.ajax({
           url: url,
           method: 'PUT',
           data: { person: app.personObject },
           success: function(resp) {
             app.showEditUserModal = false
           },
           error: function() {
           $('#admin_alert').html('Error updating user. Ensure you have proper permission to perform this action.').fadeIn(300)
             setTimeout(function () {
               $('#admin_alert').fadeout(300)
             }, 3000)
           }
        })
      },
      addUser: function () {
        this.newUser.department_id = <%= @department.id %>
        this.newUser.college_id = <%= @college.id %>
        $.post("<%= people_path %>",{
          person: this.newUser
          }).done(function(resp){
          if (resp.success)
          {
            console.log(resp)
            app.people.push(resp.person)
            app.newUser.first_name = null
            app.newUser.last_name = null
            app.newUser.banner_id = null
            app.newUser.net_id = null
            app.showAddUserModal = false
          }
        })
      }
    }
  })
  
          
</script>

