<h1>Welcome to the UNM Faculty Evaluation System</h1>
<% if current_user %>
  <% if current_user.has_role? :global_admin %>
    <h4>Global Admin Functions</h4>
    <%= link_to 'Edit Colleges/Departments', colleges_path, class: "btn btn-outline-primary" %><br></br>
  <% end %>
  <% if current_user.has_role? :department_admin, :any %>
    <h4>Department Administration Functions</h4>
    <%= link_to 'Edit Department', department_url, class: "btn btn-outline-primary" %><br></br>
  <% end %>
  <h4>User Functions</h4>
  <%= link_to 'Annual Evaluations', person_reports_path(@person), class: "btn btn-outline-primary" %>
<% end %>

