
@import "variables";

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
 }
.dropdown-menu > li > a  {
    color: white;
    white-space: nowrap;
    padding: 12px 12px;
 }
.dropdown-menu {
  top: 44px;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.8);
}

