<div class="container">
  <br/>
  <br/>
  <div class="row">
    <div class="col-sm-3">
      <strong>Calendar Year:</strong>
    </div>
    <div class="col-sm-9">
      <%= @report.report_year.strftime("%Y") %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <strong>Faculty Name:</strong>
    </div>
    <div class="col-sm-9">
      <%= "#{@person.first_name} #{@person.last_name}" %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <strong>Department:</strong>
    </div>
    <div class="col-sm-9">
      <%= @report.department %>
    </div>
  </div>
</div> 
<br/>
<h3>Scholarship</h3>
<hr class="faded"/>
<% @publications.each do |publication| %>
    <p>
        <%= publication.body %>
    </p>

<hr/>
<% end %>
    
<h3>Courses</h3>
<hr class="faded"/>
<% @courses.each do |course| %>
    <p>
        <strong>Year:</strong>
        <%= course.year.strftime("%Y") %>
    </p>
    <p>
        <strong>Semester:</strong>
        <%= course.semester %>
    </p>
    <p>
        <strong>Course Number:</strong>
        <%= course.course_number %>
    </p>
    <p>
        <strong>Course Title:</strong>
        <%= course.course_title %>
    </p>
    <p>
        <strong>Number Enrolled:</strong>
        <%= course.enrollment %>
    </p>
    <p>
        <strong>Evaluation Results:</strong>
        <%= course.evaluation_results %>
    </p>
    <p>
        <strong>Taught Course:</strong>
        <%= course.taught? ? 'Yes' : 'No' %>
    </p>

<hr/>
<% end %>

<h3>Professional Service</h3>
<hr class="faded"/>
<% @professional_services.each do |professional_service| %>
    <p>
        <strong>Activity:</strong>
        <%= professional_service.title %>
    </p>
    <p>
        <strong>Description:</strong>
        <%= professional_service.description %>
    </p>

<hr/>
<% end %>

<h3>University Service</h3>
<hr class="faded"/>
<% @university_services.each do |university_service| %>
    <p>
        <strong>Position:</strong>
        <%= university_service.position %>
    </p>
    <p>
        <strong>Description:</strong>
        <%= university_service.description %>
    </p>

<hr/>
<% end %>

<h3>Outreach Activities</h3>
<hr class="faded"/>
<% @outreach_activities.each do |outreach_activity| %>
    <p>
        <strong>Activity:</strong>
        <%= outreach_activity.name %>
    </p>
    <p>
        <strong>Description:</strong>
        <%= outreach_activity.description %>
    </p>

<hr/>
<% end %>
<% if (@grants.size > 0) %>
<h3>Grants</h3>
<hr class="faded"/>
<% end %>
<% @grants.each do |grant| %>
    <p>
        <strong>Grant Title:</strong>
        <%= grant.title %>
    </p>
    <p>
        <strong>Status:</strong>
        <%= grant.status %>
    </p>
    <p>
        <strong>Duration:</strong>
        <%= grant.duration %>
    </p>
    <p>
        <strong>Total Funding:</strong>
        <%= grant.total_funding %>
    </p>
    <p>
        <strong>UNM Portion:</strong>
        <%= grant.unm_portion %>
    </p>
    <p>
        <strong>Local College:</strong>
        <%= grant.granscol %>
    </p>
    <p>
        <strong>Local College Portion:</strong>
        <%= grant.soe_portion %>
    </p>

<hr/>
<% end %>

<h3>Research Mentoring</h3>
<hr class="faded"/>
<% @mentees.each do |mentee| %>
    <p>
        <strong>Name:</strong>
        <%= mentee.first_name + ' ' + mentee.last_name %>
    </p>
    <p>
        <strong>Type:</strong>
        <%= mentee.mentee_type.titleize %>
    </p>
    <p>
        <strong>Study Stage:</strong>
        <%= mentee.study_stage %>
    </p>
    <p>
        <strong>Expected Graduation Date:</strong>
        <%= mentee.expected_graduation.strftime("%B %Y") %>
    </p>
    <p>
        <strong>Support Source:</strong>
        <%= mentee.support_source %>
    </p>
    <p>
        <strong>Placement:</strong>
        <%= mentee.placement %>
    </p>

<hr/>
<% end %>

<div class="container">
    <table class="table table-condensed">
        <tr>
            <td><h3>Self Evaluation:</h3></td>
            <td><%= @report.self_evaluation_text %></td>
        </tr>
        <tr>
            <td><h3>Future Plans:</h3></td>
            <td><%= @report.future_plans_text %></td>
        </tr>
   </table>
</div>


<%= link_to 'Edit', edit_person_report_path(@person, @report) %>
<%= link_to 'Delete', person_report_path(@person, @report), method: :delete, data: { confirm: 'Are you sure?' } %><br>
