<%= link_to 'New Evaluation Period', reports_new_path, class: "btn btn-outline-primary" %><br><br>
<h2>Completed Evaluations</h2>
<hr class="faded">
<table class="table table-striped">

  <tbody>
    <tr>
      <td><b>Name</b></td>
      <td><b>Year</b></td>
      <td><b>Faculty Position</b></td>
      <td><b>Date Opened</b></td>
      <td><b>Submissions Closed</b></td>
      <td><b>Modified<b></td>
      <td></td><td></td><td></td>
    </tr>
    
    <% @reports.each do |report| %>
    <tr>
      <td><%= report.person.full_name_reversed %></td>
      <td><%= report.report_year.strftime("%Y") %></td>
      <td><%= report.rank.titleize %></td>
      <td><%= report.open_time.to_formatted_s(:db) %></td>
      <td><%= report.close_time.to_formatted_s(:db) %></td>
      <td><%= report.updated_at.to_formatted_s(:db) %></td> 
      <td><%= link_to 'Show', person_report_path(report.person, report), class: "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_person_report_path(report.person, report), class: "btn btn-warning" %></td>
      <td><%= link_to "Download Pdf", get_report_person_report_path(report.person, report), class: 'btn btn-info' %></td>
      <td><%= link_to 'Delete', person_report_path(report.person, report), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    </tr>
  <% end %>
  </tbody>
</table>

<% @reports = @reports.order(report_year: :DESC) %>
