<h1>Create New Annual Evaluation Open Period</h1>
<% if current_user.has_role? :department_admin, @department %>
  
  <div id="wrapper">
    <li style="margin-top: 20px">
      <input type="checkbox" name="all" id="all" checked=true /><label for='all'>All</label>
      <ul class="department-person-list">
      <% @department.people.each do |person| %>
        <li><input type="checkbox" name="selected[]" id= <%= 'box_' + person.banner_id %> value=<%= person.banner_id%>  checked=true /><label for=<%= 'box_' + person.banner_id %> /> <%= person.last_name + ', ' + person.first_name %></label></li>
      <% end %>
      </ul>
    </li>
  </div>
<% end %>
<%= link_to 'Cancel', person_reports_path(@person), class: "btn btn-warning btn-md" %>
<script>
$(document).ready(function(){
  $('input[name="all"],input[name="title"]').bind('click', function(){
    var status = $(this).is(':checked');
    $('input[type="checkbox"]', $(this).parent('li')).prop('checked', status);
  });
});
</script>
