<!DOCTYPE html>
<html>
  <head>
    <title>UNM Faculty Evaluations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <% if flash[:alert] %>
          <div class="alert alert-<%= key %>" style="margin-left:1em;background-color:#f2dede;color:a94442;border-color:ebccd1;padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px">
            <%= value %>
            <% flash[key] = nil #set to nil in case the flash was set without a following redirect %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div class="notice notice-<%= key %>" style="margin-left:1em;background-color:#dff0d8;color:3c763d;border-color:d6e9c6;padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px">
          <%= value %>
            <% flash[key] = nil #set to nil in case the flash was set without a following redirect %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="app" class="container">
      <%= yield %> 
    </div>

  <script>
  </script>
  </body>


</html>
